@page "/reportes"

@inject IGetTransactionsUseCase GetTransactionsUseCase
@inject IJSRuntime Runtime

<div class="row">
    <div class="col-3">
        <label for="Cashier">Cajero/a</label>
        <input type="text" id="Cashier" class="form-control" @bind-value="cashierName" />
    </div>
    <div class="col-3">
        <label for="StartDate">inicio</label>
        <input type="date" id="StartDate" class="form-control" @bind-value="startDate" />
    </div>
    <div class="col-3">
        <label for="EndDate">Salida</label>
        <input type="date" id="EndDate" class="form-control" @bind-value="endDate" />
    </div>
    <div class="col-2">
        <label>&nbsp;</label>
        <button type="button" class="btn btn-primary form-control" @onclick="() => LoadTransactions()">Buscar</button>
    </div>
    <div class="col-2">
        <label>&nbsp;</label>
        <button type="button" class="btn btn-primary form-control" @onclick="() => PrintReport()">Imprimir</button>
    </div>
</div>
<br />

@if (transactions != null)
{
    <div id="printarea">
        <table class="table">
            <thead>
                <tr>
                    <th>Cajero/a</th>
                    <th>Producto</th>
                    <th>Fecha</th>
                    <th>Stock</th>
                    <th>Vendido</th>
                    <th>Restante</th>
                    <th>Precio Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tran in transactions)
                {
                    <tr>
                        <td>@tran.CashierName</td>
                        <td>@tran.ProductName</td>
                        <td>@tran.TimeStamp.ToShortDateString()</td>
                        <td>@tran.BeforeQty</td>
                        <td>@tran.SoldQty</td>
                        <td>@(tran.BeforeQty - tran.SoldQty)</td>
                        <td style="text-align:right">@($"${Math.Round(tran.SoldQty * tran.Price, 2)}")</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">&nbsp;</td>
                    <td><b>Total Vendido:</b></td>
                    <td style="text-align:right">
                        <b>
                            @($"${Math.Round(transactions.Sum(x => x.Price * x.SoldQty), 2)}")
                        </b>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
}
